<button id="start">Start!</button>
<table id="table">
	<tr>
		<td><div id="out1"></div></td>
		<td><div id="out2"></div></td>
		<td><div id="out3"></div></td>
	</tr>
</table>
<script type="text/javascript">
$(function() {
	$("#start").click(function() {
		$.get('/run/0');
		$.get('/run/1');
		$.get('/run/2');
		
		var interval = setInterval(function() {
			$("#out1").load("/result/0");
			$("#out2").load("/result/1");
			$("#out3").load("/result/2");
		}, 2000);
	});
});
</script>
