<!DOCTYPE html>
<head>
<meta http-equiv="Content-type" content="text/html; charset=<% settings.charset %>" />
<title>TestApp</title>
<link rel="stylesheet" href="<% request.uri_base %>/css/style.css" />
<script src="<% request.uri_base %>/javascripts/jquery-1.10.2.min.js"></script>
</head>
<body>
<% content %>
</body>
</html>
